#burger {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

label[for="burger"] {
    display: none;
}

#map {
    overflow: hidden;
}

.track_wrap__map {
    border: 2px solid #ea605b;
    border-radius: 16px;
}

@media (max-width: 1359px) {

    /*HEADER*/
    .header {
        padding: 10px 20px;
    }

    .header_nav ul>li a {
        font-size: 18px;
        padding: 10px;
    }

    .header img {
        height: 30px;
    }

    /*FOOTER*/
    .footer_content {
        gap: 20px;
    }

    .footer_content_info-txt {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-right: 40px;
    }

    .footer_content_info-txt>img {
        height: 50px;
        width: auto;
        margin-right: 20px;
    }

    .footer_content_info-txt a {
        font-size: 20px;
    }

    .footer_content_info-nav>a {
        font-size: 18px;
    }

    /*MAIN ABOUT*/
    .about {
        margin: 54px auto 0;
    }

    .about_content {
        max-width: 70%;
        padding: 70px 0;
    }

    .about_grad {
        background-image: -webkit-linear-gradient(339deg, rgba(234, 96, 91, 0.631372549) 70%, rgba(0, 0, 0, 0) 20%);
    }

    .about_content p {
        font-size: 20px;
    }

    .about_content h1 {
        font-size: 36px;
    }

    /*MAIN NEWS*/
    .news {
        padding: 40px 0;
    }

    .news_content__items {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px
    }

    .news_content h2 {
        font-size: 36px;
    }

    /*TRACK*/
    .track {
        padding: 20px;
    }

    .track_wrap {
        display: flex;
    }

    .track_wrap__output {
        width: auto;
    }

    .track_wrap__output h2 {
        font-size: 36px;
    }

    .track_content__form-style {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    /*DEPARTMENT*/
    .department-title h1 {
        font-size: 36px;
    }

    .department_content__nav {
        padding: 20px;
    }

    .department_content__nav img {
        height: 50px !important;
    }

    .department_content__nav h3 {
        font-size: 20px;
    }

    .department_content__nav p {
        font-size: 18px;
    }

    /*CALC*/
    .calc_form {
        flex-direction: column;
    }
    
    .calc_form-inputs {
        width: 100%;
    }

    .calc_form-result {
        width: 100%;
    }

    .calc_form-result > img {
        display: block;
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (max-width: 999px) {
    .track_wrap {
        flex-direction: column;
        gap: 40px;
    }

    .track_wrap__map {
        width: 100%;
        overflow: hidden !important;
        border-radius: 16px;
    }
}

@media (max-width: 767px) {

    /*HEADER*/
    label[for="burger"] {
        display: block;
    }

    .header_nav {
        position: fixed;
        top: 54px;
        right: 0;

        min-height: calc(100vh);

        background-color: #fff;
        border-left: #ea605b 3px solid;

        transition: all ease .5s;
        transform: translateX(101%);
    }

    #burger:checked~.header_nav {
        transform: translateX(0);
    }

    .header_nav ul {

        padding-top: 50px;
        flex-direction: column;

        gap: 40px;
    }

    .header_nav ul>li:not(:last-child) {
        border: none;
    }

    /*FOOTER*/
    .footer {
        padding: 50px 0;
    }

    .footer_content_info {
        flex-direction: column;
        gap: 30px;
    }

    .footer_content_info-txt {
        margin-right: 20px;
    }

    .footer_content_info-txt>img {
        height: 30px;
    }

    .footer_content_info-txt a {
        font-size: 14px;
    }

    /*MAIN ABOUT*/
    .about_grad {
        background-image: -webkit-linear-gradient(339deg, rgba(234, 96, 91, 0.631372549) 80%, rgba(0, 0, 0, 0) 20%);
    }

    .about_content {
        max-width: 80%;
    }

    .about_content h1 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .about_content p {
        font-size: 16px;
    }

    /*MAIN NEWS*/
    .news_content h2 {
        font-size: 24px;
    }

    .news_content__items {
        gap: 20px;
    }

    .news_content__items-card {
        width: 100%;
    }

    .news_content__items-card h4 {
        font-size: 18px;
    }

    .news_content__items-card h5 {
        font-size: 14px;
    }

    .news_content__items-card p {
        font-size: 16px;
    }

    /*TRACK*/
    .track {
        padding: 0;
    }

    .track_wrap__output h2 {
        font-size: 24px;
    }

    .track_content__form-input {
        width: 100%;
        padding: 10px 20px;
        font-size: 16px;
    }

    .track_content__form-btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    .track_wrap__map {
        width: 100%;
        margin-bottom: 40px;
        overflow: hidden;
    }

    /*DEPARTMENT*/
    .department_content {
        flex-direction: column;
    }

    .department_content__nav {
        border-radius: 8px 8px 0px 0px;
        border: 2px solid red;
        height: fit-content;
    }

    .department_map {
        width: 100% !important;

        border: 2px solid red !important;
        border-radius: 0px 0px 8px 8px !important;
        border-top: none !important;
    }

    .ymaps-2-1-79-map {
        width: 100% !important;
    }

    .department-title h1 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .department {
        padding: 40px 0;
    }

    /*CALC*/

    .calc {
        padding: 50px 0px;
    }
    .calc_content-warning {
        padding: 10px;
        font-size: 18px;
        margin: 10px 0;
    }
    .calc_form-inputs > label {
        font-size: 16px;
        width: 100%;
        margin-bottom: 5px;
    }
    .calc_form-inputs > label:nth-of-type(1) {
        width: 50%;
    }
    .calc_form-inputs > label:nth-of-type(2) {
        width: 50%;
        padding: 0;
    }
    .calc_form-inputs > label:nth-of-type(3) {
        width: 50%;
    }
    .calc_form-inputs > label:nth-of-type(4) {
        padding: 0;
        width: 50%;
    }

    .calc_form-inputs > input {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .calc_form-inputs > select {
        font-size: 16px;
        width: 100%;
    }

    .calc_form-result-wrap p {
        font-size: 18px;
    }

    .calc_form-result h2 {
        font-size: 24px;
        margin: 20px 0;
    }
}