body {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
}

.container {
    box-sizing: border-box;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 30px;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #ff0900;
    box-shadow: 0px 0px 20px 0px #ea605b;
}

.header {
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;

    & img {
        height: 50px;
    }

    &_nav {
        height: fit-content;
        margin: auto 0;

        & ul {
            display: flex;

            &>li {
                &:not(:last-child) {
                    border-right: #ea605b 1px solid;
                }

                & a {

                    text-decoration: none;
                    font-family: 'Mulish', sans-serif;
                    font-style: italic;
                    padding: 0 24px;
                    font-size: 26px;
                    text-transform: uppercase;

                    color: #000000;
                }
            }
        }
    }

    &_social img {
        height: 40px;
    }
}

.about {
    margin: 90px auto 0;
    width: 100%;
    max-width: 1920px;


    background-image: url(../assets/img/main-page/slider-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &_grad {
        height: 100%;
        background-image: -webkit-linear-gradient(339deg, #ea605ba1 52%, rgba(0, 0, 0, 0) 41%);
        position: relative;
    }

    &_content {
        padding: 150px 0 100px;

        & h1 {
            font-family: 'Mulish', sans-serif;
            color: white;
            font-size: 48px;
            line-height: 120%;
            font-weight: 400;

            margin-bottom: 80px;

            &>span {
                color: red;
                font-style: italic;

                &:first-child {
                    font-size: 56px;
                    margin: 0 12px;
                }

                &:not(:first-child) {
                    font-style: italic;
                }
            }
        }

        & p {
            font-family: 'Mulish', sans-serif;
            color: white;
            font-size: 26px;
            line-height: 120%;

            & span {
                border-bottom: 2px solid #ea605b;
            }
        }
    }

    // &_arrow {
    //     position: absolute;
    //     bottom: -50px;
    //     right: 150px;

    //     & img {
    //         height: 450px;
    //         transform: rotate(135deg);
    //     }
    // }
}
// 

.news {
    padding: 70px;

    &_content {

        & h2 {
            font-family: "Mulish", sans-serif;
            color: black;
            font-size: 48px;
            line-height: 120%;
            font-weight: 400;
            margin-bottom: 40px;
            font-style: italic;

            border-bottom: #ff0000 2px solid;
            width: fit-content;
        }

        &__items {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;

            &-card {
                box-sizing: border-box;
                width: calc((1400px - 120px)/4);
                border-radius: 8px;
                padding: 14px;
                box-shadow: 0px 3px 7px 0px #f5cece;

                & img {
                    width: 100%;
                    border-radius: 4px;
                }

                & h4 {
                    font-family: 'Mulish', sans-serif;
                    color: black;
                    font-size: 22px;
                    line-height: 120%;
                    font-style: italic;

                    margin: 10px 0;
                }

                & h5 {
                    font-family: 'Mulish', sans-serif;
                    color: rgb(122, 122, 122);
                    font-size: 16px;
                    line-height: 120%;
                    font-style: italic;

                    margin-bottom: 10px;
                }

                & p {
                    font-family: 'Mulish', sans-serif;
                    color: rgb(0, 0, 0);
                    font-size: 18px;
                    line-height: 120%;
                    font-weight: 400;

                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* сколько оставить строк */
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    
}

.footer {
    background-color: #ffc4c1;
    width: 100%;
    margin: 0 auto;
    color: white;
    padding: 80px 0;

    &_content {
        display: flex;
        justify-content: space-between;

        &_info {
            display: flex;

            &-txt {
                margin-right: 100px;
                display: flex;
                width: fit-content;
                height: fit-content;

                & > img {
                    height: 100px;
                    margin-right: 40px;
                }


                & a {
                    text-decoration: none;
                    display: block;
                    font-family: 'Mulish', sans-serif;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 120%;
                    color: black;

                    margin: 0 0 12px;

                    &:last-child {
                        margin: 12px 0 0;
                    }
                }
            }

            
            &-nav {
                border-left: #ff0000 2px solid;
                height: fit-content;
    
                &>a {
                    text-decoration: none;
                    display: block;
                    box-sizing: border-box;
                    color: black;
                    font-family: 'Mulish', sans-serif;
                    font-style: italic;
                    font-size: 26px;
                    margin: 0 0 16px 16px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }


        &__social {
            height: fit-content;
            & img {
                display: block;
                height: 40px;
                margin-bottom: 16px;
            }
        }
    }

    &_copyright {
        margin-top: 40px;
        font-family: "Mulish", sans-serif;
        color: rgb(0, 0, 0);
        font-size: 18px;
        line-height: 120%;
        font-weight: 400;
        overflow: hidden;
    }
}

// department 

.department {
    box-sizing: border-box;
    margin-top: 90px;
    width: 100%;
    padding: 150px 50px;

    &-title {

        & h1 {
            font-family: "Mulish", sans-serif;
            color: black;
            font-size: 56px;
            line-height: 120%;
            font-weight: 400;
            margin-bottom: 40px;
            font-style: italic;
            border-bottom: 2px solid red;
            width: fit-content;
        }
    }

    &_content {
        display: flex;

        &__nav {
            margin: auto 0;
            // box-shadow: 0px 0px 20px 0px red;
            box-sizing: border-box;
            border: 2px solid red;
            padding: 30px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            border-right: none;
            height: 500px;

            
            & h3 {
                margin-top: 24px;
                margin-bottom: 12px;
                font-family: "Mulish", sans-serif;
                color: black;
                font-size: 26px;
                line-height: 120%;
            }

            & p {
                font-family: "Mulish", sans-serif;
                color: black;
                font-size: 22px;
                line-height: 120%;
            }
        }

        & #map {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

// calc

.calc {
    box-sizing: border-box;
    margin-top: 90px;
    width: 100%;
    padding: 150px 50px;

    &-title {

        & h1 {
            font-family: "Mulish", sans-serif;
            color: black;
            font-size: 56px;
            line-height: 120%;
            font-weight: 400;
            margin-bottom: 40px;
            font-style: italic;
            border-bottom: 2px solid red;
            width: fit-content;
        }
    }

    &_content {

        &-warning {
            width: 100%;
            padding: 24px 0;
            background-color: #ea605b;
            border-radius: 24px;
            margin: 40px 0;

            font-family: "Mulish", sans-serif;
            color: white;
            font-size: 30px;
            line-height: 120%;
            font-weight: 400;
            margin-bottom: 40px;
            font-style: italic;
            text-align: center;
        }
    }

    &_form {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;

        &-inputs {
            width: 50%;
            box-sizing: border-box;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & > label {
                width: 50%;
                margin-bottom: 24px;
                box-sizing: border-box;

                font-family: "Mulish", sans-serif;
                color: #ea605b;
                font-size: 26px;
                line-height: 120%;
                font-weight: 400;
                margin-bottom: 40px;
                font-style: italic;
                height: max-content;

                &:nth-of-type(1) {
                    width: 25%;
                }

                &:nth-of-type(2) {
                    width: 25%;
                    padding-left: 16px;
   
                }

                &:nth-of-type(3) {
                    width: 25%;   
                }

                &:nth-of-type(4) {
                    width: 25%;
                    padding-left: 16px;  
                }

            }

            & > input{
                width: 20%;
                margin-bottom: 24px;
                padding-left: 16px;

                font-family: "Mulish", sans-serif;
                color:#000000;
                font-size: 22px;
                line-height: 120%;
                font-weight: 400;
                font-style: italic;
                height: max-content;
                box-sizing: border-box;

            }

            & > select {
                width: 50%;
                margin-bottom: 24px;

                font-family: "Mulish", sans-serif;
                color:#000000;
                font-size: 22px;
                line-height: 120%;
                font-weight: 400;
                font-style: italic;
                height: max-content;
                box-sizing: border-box;

            }


            &__btn {
                display: block !important;
                width: fit-content;
                margin: 40px auto !important;
                height: max-content;
            }
        
        }  

        &-line {
            border-right: #ea605b 2px solid;
            height: auto;
        }
        
        &-result {
            width: 35%;
            box-sizing: border-box;

            & > img {
                width: 100%;
            }

            & h2 {
                font-family: "Mulish", sans-serif;
                color:#000000;
                font-size: 26px;
                line-height: 120%;
                font-weight: 400;
                margin-bottom: 40px;
                font-style: italic;
                text-align: center;
                margin: 24px;
            }

            &-wrap label {
                box-sizing: border-box;
                width: 100%;
                display: flex;
                justify-content: space-between;

                font-family: "Mulish", sans-serif;
                color:#000000;
                font-size: 22px;
                line-height: 120%;
                font-weight: 400;
                margin-bottom: 40px;
                font-style: italic;
                border-bottom: dotted 2px #ea605b;

                position: relative;

                &:before{
                    content : '+';
                    color : black;
                    position: absolute;
                    left: -24px;
                    top: 28px;

                }

                &:last-child:before {
                    content: none;
                }
            }

            &-price {
                margin-top: 24px;
                padding-top: 24px;
                box-sizing: border-box;
                border-top: #ff0900 2px solid;

                & label {
                    box-sizing: border-box;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
    
                    font-family: "Mulish", sans-serif;
                    color:#000000;
                    font-size: 22px;
                    line-height: 120%;
                    font-weight: 400;
                    margin-bottom: 40px;
                    font-style: italic;
                    border-bottom: dotted 2px #ea605b;
                }
            }
        }
    }

}

// ТРЕКНОМЕР

// 
.track {
    padding: 70px;
    margin-top: 90px;

    &_content {

        & h2 {
            font-family: "Mulish", sans-serif;
            color: black;
            font-size: 48px;
            line-height: 120%;
            font-weight: 400;
            margin-bottom: 40px;
            font-style: italic;

            border-bottom: #ff0000 2px solid;
            width: fit-content;

        }

        &__form {
            display: flex;

            & p {
                display: inline-block;
                font-family: "Mulish", sans-serif;
                color: black;
                margin-right: 200px;
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;

                & span {
                    color: #ea605b;
                    font-style: italic;
                }
            }


            &-input {
                font-family: 'Mulish', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
                padding: 20px 0px 19px 27px;
                border: 1px solid #ea605b;
                border-radius: 100px;
                background-color: #FFFFFF;
                width: 369px;
                margin-right: 30px;
                box-sizing: border-box;
            }

            &-btn {
                text-decoration: none;
                display: inline-block;
                background-color: #ffc4c1;

                &:hover {
                    background-color: #f59c98;
                }

                border: 1px solid #000000;
                border-radius: 100px;

                color: #000000;
                font-family: 'Mulish', sans-serif;
                font-style: italic;
                font-size: 18px;

                line-height: 120%;
                padding: 19px 50px;
            }
        }
    }

    &_wrap {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        &__output {
            width: 43%;

            & h2 {
                font-family: "Mulish", sans-serif;
                color: black;
                font-size: 48px;
                line-height: 120%;
                font-weight: 400;
                margin-bottom: 40px;
                font-style: italic;
    
                border-bottom: #ff0000 2px solid;
                width: fit-content;
    
            }

            & > p {
                font-family: "Mulish", sans-serif;
                color: black;
                font-size: 24px;
                line-height: 150%;
                font-weight: 400;
                margin: 40px 0;
                font-style: italic;
                width: fit-content;
                
                & span {
                    border-bottom: #ff0000 2px solid;
                }
            }

            &-location {
                width: 100%;
                padding: 16px 40px;
                box-sizing: border-box;
                background-color: #ffc4c1;
                border-radius: 24px;
                margin: 14px 0;

                display: flex;

                & img {
                    margin-right: 24px;
                    height: 30px;
                }
    
                & p {
                    font-family: "Mulish", sans-serif;
                    color: white;
                    font-size: 24px;
                    line-height: 120%;
                    font-weight: 400;
                    font-style: italic;
               }
            }
        }

        &__map {
            width: 50%; height: 500px; padding: 0; margin: 0;

            & > ymaps {
                border: 2px solid #ea605b;
                
            }

            & ymaps {
                border-radius: 24px;
            }
        }
    }
}

// .ymaps-2-1-79-inner-panes {
//     border-radius: 24px;
// }




