@charset "UTF-8";
body {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

.container {
  box-sizing: border-box;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 2px solid #ff0900;
  box-shadow: 0px 0px 20px 0px #ea605b;
}

.header {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
}
.header img {
  height: 50px;
}
.header_nav {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.header_nav ul {
  display: flex;
}
.header_nav ul > li:not(:last-child) {
  border-right: #ea605b 1px solid;
}
.header_nav ul > li a {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-style: italic;
  padding: 0 24px;
  font-size: 26px;
  text-transform: uppercase;
  color: #000000;
}
.header_social img {
  height: 40px;
}

.about {
  margin: 90px auto 0;
  width: 100%;
  max-width: 1920px;
  background-image: url(../assets/img/main-page/slider-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about_grad {
  height: 100%;
  background-image: -webkit-linear-gradient(339deg, rgba(234, 96, 91, 0.631372549) 52%, rgba(0, 0, 0, 0) 41%);
  position: relative;
}
.about_content {
  padding: 150px 0 100px;
}
.about_content h1 {
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 80px;
}
.about_content h1 > span {
  color: red;
  font-style: italic;
}
.about_content h1 > span:first-child {
  font-size: 56px;
  margin: 0 12px;
}
.about_content h1 > span:not(:first-child) {
  font-style: italic;
}
.about_content p {
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 26px;
  line-height: 120%;
}
.about_content p span {
  border-bottom: 2px solid #ea605b;
}

.news {
  padding: 70px;
}
.news_content h2 {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
  border-bottom: #ff0000 2px solid;
  width: -moz-fit-content;
  width: fit-content;
}
.news_content__items {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.news_content__items-card {
  box-sizing: border-box;
  width: 320px;
  border-radius: 8px;
  padding: 14px;
  box-shadow: 0px 3px 7px 0px #f5cece;
}
.news_content__items-card img {
  width: 100%;
  border-radius: 4px;
}
.news_content__items-card h4 {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 22px;
  line-height: 120%;
  font-style: italic;
  margin: 10px 0;
}
.news_content__items-card h5 {
  font-family: "Mulish", sans-serif;
  color: rgb(122, 122, 122);
  font-size: 16px;
  line-height: 120%;
  font-style: italic;
  margin-bottom: 10px;
}
.news_content__items-card p {
  font-family: "Mulish", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* сколько оставить строк */
  -webkit-box-orient: vertical;
}

.footer {
  background-color: #ffc4c1;
  width: 100%;
  margin: 0 auto;
  color: white;
  padding: 80px 0;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_content_info {
  display: flex;
}
.footer_content_info-txt {
  margin-right: 100px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer_content_info-txt > img {
  height: 100px;
  margin-right: 40px;
}
.footer_content_info-txt a {
  text-decoration: none;
  display: block;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: black;
  margin: 0 0 12px;
}
.footer_content_info-txt a:last-child {
  margin: 12px 0 0;
}
.footer_content_info-nav {
  border-left: #ff0000 2px solid;
  height: -moz-fit-content;
  height: fit-content;
}
.footer_content_info-nav > a {
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  color: black;
  font-family: "Mulish", sans-serif;
  font-style: italic;
  font-size: 26px;
  margin: 0 0 16px 16px;
}
.footer_content_info-nav > a:last-child {
  margin-bottom: 0;
}
.footer_content__social {
  height: -moz-fit-content;
  height: fit-content;
}
.footer_content__social img {
  display: block;
  height: 40px;
  margin-bottom: 16px;
}
.footer_copyright {
  margin-top: 40px;
  font-family: "Mulish", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  overflow: hidden;
}

.department {
  box-sizing: border-box;
  margin-top: 90px;
  width: 100%;
  padding: 150px 50px;
}
.department-title h1 {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 56px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
  border-bottom: 2px solid red;
  width: -moz-fit-content;
  width: fit-content;
}
.department_content {
  display: flex;
}
.department_content__nav {
  margin: auto 0;
  box-sizing: border-box;
  border: 2px solid red;
  padding: 30px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: none;
  height: 500px;
}
.department_content__nav h3 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 26px;
  line-height: 120%;
}
.department_content__nav p {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 22px;
  line-height: 120%;
}
.department_content #map {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.calc {
  box-sizing: border-box;
  margin-top: 90px;
  width: 100%;
  padding: 150px 50px;
}
.calc-title h1 {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 56px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
  border-bottom: 2px solid red;
  width: -moz-fit-content;
  width: fit-content;
}
.calc_content-warning {
  width: 100%;
  padding: 24px 0;
  background-color: #ea605b;
  border-radius: 24px;
  margin: 40px 0;
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 30px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
  text-align: center;
}
.calc_form {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.calc_form-inputs {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.calc_form-inputs > label {
  width: 50%;
  margin-bottom: 24px;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: #ea605b;
  font-size: 26px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
  height: -moz-max-content;
  height: max-content;
}
.calc_form-inputs > label:nth-of-type(1) {
  width: 25%;
}
.calc_form-inputs > label:nth-of-type(2) {
  width: 25%;
  padding-left: 16px;
}
.calc_form-inputs > label:nth-of-type(3) {
  width: 25%;
}
.calc_form-inputs > label:nth-of-type(4) {
  width: 25%;
  padding-left: 16px;
}
.calc_form-inputs > input {
  width: 20%;
  margin-bottom: 24px;
  padding-left: 16px;
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 22px;
  line-height: 120%;
  font-weight: 400;
  font-style: italic;
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
}
.calc_form-inputs > select {
  width: 50%;
  margin-bottom: 24px;
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 22px;
  line-height: 120%;
  font-weight: 400;
  font-style: italic;
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
}
.calc_form-inputs__btn {
  display: block !important;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto !important;
  height: -moz-max-content;
  height: max-content;
}
.calc_form-line {
  border-right: #ea605b 2px solid;
  height: auto;
}
.calc_form-result {
  width: 35%;
  box-sizing: border-box;
}
.calc_form-result > img {
  width: 100%;
}
.calc_form-result h2 {
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 26px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
  text-align: center;
  margin: 24px;
}
.calc_form-result-wrap label {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 22px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
  border-bottom: dotted 2px #ea605b;
  position: relative;
}
.calc_form-result-wrap label:before {
  content: "+";
  color: black;
  position: absolute;
  left: -24px;
  top: 28px;
}
.calc_form-result-wrap label:last-child:before {
  content: none;
}
.calc_form-result-price {
  margin-top: 24px;
  padding-top: 24px;
  box-sizing: border-box;
  border-top: #ff0900 2px solid;
}
.calc_form-result-price label {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-size: 22px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
  border-bottom: dotted 2px #ea605b;
}

.track {
  padding: 70px;
  margin-top: 90px;
}
.track_content h2 {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
  border-bottom: #ff0000 2px solid;
  width: -moz-fit-content;
  width: fit-content;
}
.track_content__form {
  display: flex;
}
.track_content__form p {
  display: inline-block;
  font-family: "Mulish", sans-serif;
  color: black;
  margin-right: 200px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
.track_content__form p span {
  color: #ea605b;
  font-style: italic;
}
.track_content__form-input {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  padding: 20px 0px 19px 27px;
  border: 1px solid #ea605b;
  border-radius: 100px;
  background-color: #FFFFFF;
  width: 369px;
  margin-right: 30px;
  box-sizing: border-box;
}
.track_content__form-btn {
  text-decoration: none;
  display: inline-block;
  background-color: #ffc4c1;
  border: 1px solid #000000;
  border-radius: 100px;
  color: #000000;
  font-family: "Mulish", sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 120%;
  padding: 19px 50px;
}
.track_content__form-btn:hover {
  background-color: #f59c98;
}
.track_wrap {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.track_wrap__output {
  width: 43%;
}
.track_wrap__output h2 {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 40px;
  font-style: italic;
  border-bottom: #ff0000 2px solid;
  width: -moz-fit-content;
  width: fit-content;
}
.track_wrap__output > p {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  margin: 40px 0;
  font-style: italic;
  width: -moz-fit-content;
  width: fit-content;
}
.track_wrap__output > p span {
  border-bottom: #ff0000 2px solid;
}
.track_wrap__output-location {
  width: 100%;
  padding: 16px 40px;
  box-sizing: border-box;
  background-color: #ffc4c1;
  border-radius: 24px;
  margin: 14px 0;
  display: flex;
}
.track_wrap__output-location img {
  margin-right: 24px;
  height: 30px;
}
.track_wrap__output-location p {
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  font-style: italic;
}
.track_wrap__map {
  width: 50%;
  height: 500px;
  padding: 0;
  margin: 0;
}
.track_wrap__map ymaps {
  border-radius: 24px;
}/*# sourceMappingURL=style.css.map */